@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

html, body {height:100%; box-sizing:border-box;}
nav {
    height:40%; text-align:center; margin:0; padding:0; box-sizing:border-box;
    display:flex; 
}
section {
    height:60%; margin:0; padding:0; box-sizing:border-box;
    display:flex; color:white;
}

a {text-decoration: none;}
div {height:100%; width:25%; margin:0; padding:0; border:solid 1px;}
body { background:url("../img/dark.png"); background-size:cover;}

#low {
    width:125px;background-color:gray; position:relative;
    left:1%; font-family: 'Saira Extra Condensed', sans-serif;}
#min {
    width:125px;background-color:gray; position:relative; 
    top:45%; right:2%;font-family: 'Saira Extra Condensed', sans-serif;}
#mid {
    width:125px;background-color:gray; position:relative;
    top:75%; right:9%; font-family: 'Saira Extra Condensed', sans-serif;}
#hi {
    width:125px;background-color:gray; position:relative; 
    top:99%; right:11%; font-family: 'Saira Extra Condensed', sans-serif;}
#text {
    width:100%;position:relative; top:60%; right:50%; 
    border:none; font-family: 'Saira Extra Condensed', sans-serif;}
#h1 {
    width:100%;position:relative; top:45%; font-size:2em; 
    font-family: 'Saira Extra Condensed', sans-serif;}